:host {
    width: 100%;
    flex: 0;
}
.button {
    text-align: center;
    padding: 7px 20px;
    background: var(--gold);
    color: var(--very-dark-purple);
    border-radius: 6px;
    cursor: pointer;
    line-height: 1;
    &.--small {
        width: 75px;
        padding: 7px 0;
    }
}