<div class="friends-page">
    <div class="friends-page__header page-header">
        <div class="page-title">
            {{'FRIENDS.TITLE' | translate}}
        </div>
        <div class="page-subtitle">
            {{'FRIENDS.SUBTITLE' | translate}}
        </div>
    </div>
    <div class="friends-page__container">
        
        <div class="friends-page__invite-info">
            <div class="friends-page__block">
                <app-sector [shadow]="true" [border]="true">
                    <div class="friends-page__block-info" body>
                        <div class="friends-page__block-info-img">
                            <img src="assets/images/friend.png" alt="friend">
                        </div>
                        <div class="friends-page__block-info-body">
                            <p class="friends-page__block-info-text">{{'FRIENDS.INVITE' | translate}}</p>
                            <div class="friends-page__block-info-plus">
                                <app-balance>
                                    <p balance><b>+5</b> {{'FRIENDS.YOU_AND_FRIEND' | translate}}</p>
                                </app-balance>
                            </div>
                        </div>
                    </div>
                </app-sector>
            </div>
            <div class="friends-page__block">
                <app-sector [shadow]="true" [border]="true">
                    <div class="friends-page__block-info" body>
                        <div class="friends-page__block-info-img">
                            <img src="assets/images/friend_prem.png" alt="friend">
                        </div>
                        <div class="friends-page__block-info-body">
                            <p class="friends-page__block-info-text">{{'FRIENDS.INVITE_PREM' | translate}}</p>
                            <div class="friends-page__block-info-plus">
                                <app-balance>
                                    <p balance><b>+10</b> {{'FRIENDS.YOU_AND_FRIEND' | translate}}</p>
                                </app-balance>
                            </div>
                        </div>
                    </div>
                </app-sector>
            </div>
            <app-button [paddingX]="15" [paddingY]="15" class="friends-page__invite-button" (click)="openInviteModal()">
                <p title>{{'FRIENDS.INVITE_BUTTON' | translate}}</p>
            </app-button>
        </div>
        <div class="friends-page__invite-referrals" *ngIf="referrals">
            <div class="referrals-info">
                <p>{{'FRIENDS.YOUR' | translate}} {{referrals.length}} {{'FRIENDS.REFERALS' | translate}}:</p>
                <app-balance>
                    <p balance>+{{totalBonus}}</p>
                </app-balance>
            </div>
            <div class="referrals-list">
                <div class="referrals-item" *ngFor="let ref of referrals">
                    <app-sector [shadow]="true" [border]="true">
                        <div class="referral" body>
                            <div class="referral__info">
                                <app-avatar [displayName]="ref.referral.username" [photoURL]="ref.referral.avatar" [height]="24" [width]="24" class="referral__info-img"></app-avatar>
                                <p class="referral__info-username">{{ref.referral.username}}</p>
                            </div>
                            <div class="referral__bonus">
                                <app-balance [width]="18" [height]="18">
                                    <div balance>+{{ref.bonus}}</div>
                                </app-balance>
                            </div>
                        </div>
                    </app-sector>
                </div>
            </div>
        </div>
    </div>
</div>