.friends-page {
    &__header {
        padding: 22px;
        padding-bottom: 0;
        margin-bottom: 35px;
    }
    &-container {
        position: relative;
    }

    &__block {
        margin-bottom: 10px;
        &-info {
            min-height: 125px;
            padding: 26px;
            display: flex;
            &-img {
                margin-right: 35px;
            }
            &-body {
                font-size: 14px;
            
            }
            &-text {
                margin-bottom: 15px;
            }
        }
    }

    &__invite {
        &-info {
            margin-bottom: 40px;
        }
        &-referrals {
            .referrals {
                &-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    font-weight: bold;
                }

                &-list {
            
                }
                &-item {
                    margin-bottom: 10px;
                }
            }
            .referral {
                height: 50px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                &__info {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    &-img {
                        margin-right: 10px;
                    }
                }
                &__bonus {
                    font-weight: bold;
                }
            }
        }
    }
}