* {
  box-sizing: border-box;
  
}
html, body {
  color: var(--tg-theme-text-color);
  font-family: var(--font-bold);
  background-color: var(--dark-purple);
  overflow: hidden;
}

p {
  margin: 0;
}

:root {
  --tg-theme-bg-color: #242d3c;
  --tg-theme-text-color: #e5e6e8;
  --tg-theme-second-text-color: #59686f;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-sector-color: #181f29;
  --tg-theme-button-color: #5584bc;
  --tg-theme-button-text-color: #0a0a0a;
  --tg-theme-secondary-bg-color: #f3f2f9;
  --font-regular: "Lucida Regular";
  --font-bold: "Lucida Bold";
  --very-light-purple: #47324B;
  --light-purple: #503755;
  --dark-purple: #311D35;
  --very-dark-purple: #2E1B32;
  --bg-color: linear-gradient(0deg, var(--dark-purple) 0%, var(--light-purple) 100%);
  --gold: #D8BB77;
  --white: #e9e9e9;
  --gray: #858585;
}

.page {
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  &-title {
    font-size: 38px;
    margin-bottom: 15px;
  }
  &-subtitle {
    font-size: 20px;
    padding: 0 10px;
  }
}

::-webkit-scrollbar {
  display: none;
}