.modal {
    position: absolute;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #00000059;
    cursor: pointer;
    &__wrapper {
        background: var(--bg-color);
        height: max-content;
        border-start-start-radius: 15px;
        border-start-end-radius: 15px;
        padding: 8px;
        min-height: 200px;
        overflow: auto;
        cursor: default;
    }
    &__view {
        display: flex;
        flex-direction: column-reverse;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__close-btn {
        border-radius: 50%;
        color: var(--gold);
        font-size: 24px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}