.ranking-page {
    height: calc(100vh - 30px);
    overflow-y: scroll;

    &__top {
        width: 100%;
    }

    &__list {
        margin-top: 5%;
        width: 100%;
        min-height: 50vh;
    }
    &__user-stat {
        width: 100%;
        position: sticky;
        bottom: 23px;
        background-color: var(--tg-theme-bg-color);
        margin-top: 25px;
    }
}