<div class="ranking-page">
  <div class="ranking-page__top">
    <app-ranking-top
    [user]="userData"
    (openPaymentModalEmit)="this.openPaymentModal = true"
    ></app-ranking-top>
  </div>
  <div class="ranking-page__list">
    <app-ranking-list
    [allLeaderboard]="allLeaderboard"
    [weekLeaderboard]="weekLeaderboard"
    [monthLeaderboard]="monthLeaderboard"
    ></app-ranking-list>
  </div>
  <div class="ranking-page__user-stat" *ngIf="userData" (click)="openProfileModal = true">
    <app-ranking-item [user]="userData" [currentUser]="true"></app-ranking-item>
  </div>
  <app-modal [viewModal]="openPaymentModal" (closeModalEmit)="this.openPaymentModal = false">
    <app-ranking-payment (closeModalEmit)="this.openPaymentModal = false" (buyEmit)="startPayment($event)"></app-ranking-payment>
  </app-modal>
  <app-modal [viewModal]="openProfileModal" (closeModalEmit)="this.openProfileModal = false">
    <app-ranking-profile [user]="userData"></app-ranking-profile>
  </app-modal>
</div>

