<div class="ranking-page">
  <div class="ranking-page__top">
    <app-ranking-top
    [user]="userData"
    (openPaymentModalEmit)="this.viewPaymentModal = true"
    [userTop]="topAllLeaderBoard"
    (openProfileEmit)="setProfileData($event)"
    ></app-ranking-top>
  </div>
  <div class="ranking-page__list">
    <app-ranking-list
    [allLeaderboard]="allLeaderboard"
    [weekLeaderboard]="weekLeaderboard"
    [monthLeaderboard]="monthLeaderboard"
    (openProfileEmit)="setProfileData($event)"
    ></app-ranking-list>
  </div>
  <div class="ranking-page__user-stat" *ngIf="userData" (click)="setProfileData(userData)">
    <app-ranking-item [user]="userData" [currentUser]="true"></app-ranking-item>
  </div>
  <app-modal [viewModal]="viewPaymentModal" (closeModalEmit)="this.viewPaymentModal = false">
    <app-ranking-payment (buyEmit)="startPayment($event)"></app-ranking-payment>
  </app-modal>
  <app-modal [viewModal]="viewProfileModal" (closeModalEmit)="this.viewProfileModal = false" *ngIf="profileData">
    <app-ranking-profile [user]="profileData"></app-ranking-profile>
  </app-modal>
  <app-modal [viewModal]="viewDailyModal" (closeModalEmit)="this.viewDailyModal = false" *ngIf="dailyBonusData">
    <app-ranking-daily-bonus [bonusData]="dailyBonusData" (closeModalEmit)="this.viewDailyModal = false"></app-ranking-daily-bonus>
  </app-modal>
</div>

