<div class="ranking-top">
  <div class="ranking-top__leaders">
    <app-stat-card class="ranking-top__card" [place]="2"></app-stat-card>
    <app-stat-card class="ranking-top__card" [place]="1"></app-stat-card>
    <app-stat-card class="ranking-top__card" [place]="3"></app-stat-card>
  </div>

  <div class="ranking-top__stats">
    <app-sector class=ranking-top__stat>
      <div class="ranking-top__stat-header" header>
        Stars
      </div>
      <div class="ranking-top__stat-body" body>
        {{user.stars}}
      </div>
    </app-sector>
    <app-sector class=ranking-top__stat>
      <div class="ranking-top__stat-header" header>
        Your Rank
      </div>
      <div class="ranking-top__stat-body" body>
        #{{user.rank}}
      </div>
    </app-sector>
    <app-sector class=ranking-top__stat>
      <div class="ranking-top__stat-header" header>
        Add wallet
      </div>
      <div class="ranking-top__stat-body" body>
        <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
      </div>
    </app-sector>

  </div>

  <div class="ranking-top__buttons">
    <button customButton color="primary" (click)="openPaymentModal()">
      Boost rank
      <img src="/assets/images/Telegram_Star.png" alt="" icon />
    </button>

  </div>

</div>