<div class="shop-page">
    <div class="shop-page__header page-header">
        <img src="assets/images/bot_tasks.png" alt="Tasks" class="shop-page__header-img">
        <p class="page-subtitle">A hidden shop with a mysterious merchant</p>
    </div>
    <div class="shop-page__container">
        <p class="shop-page__list-name">Shop</p>
        <app-product-block iconName="icon_token" [width]="50" [height]="50" [buttonName]="'Buy'" (clickButton)="openTokenModal()">
            <p body>Divinations token</p>
        </app-product-block>
    </div>
</div>

<app-modal [viewModal]="viewTokenModal" (closeModalEmit)="closeTokenModal()">
    <div class="token-modal">
        <div class="token-modal__header">
            <div class="modal-title">
                Divinations token
            </div>
            <div class="modal-subtitle">
                You can also earn Divinations tokens by <router-link routerLink="/friends" class="router-link">inviting friends</router-link> and for <router-link routerLink="/tasks" class="router-link">completing tasks</router-link>
            </div>
        </div>
        <div class="token-modal__body">
            <div class="token-modal__price-list">
                <div class="token-modal__price-item" *ngFor="let item of prices" [class.--current]="item.price === currentPrice.price" (click)="pickPrice(item)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="icon_token" class="token-modal__price-item__img"></mat-icon>
                    <p class="token-modal__price-title">{{item.count}} DIV Token</p>
                </div>
                <app-button [paddingX]="15" [paddingY]="15" (click)="handlePaymentRequest(currentPrice.price, currentPrice.count)">
                    Confrim And Pay {{currentPrice.price}} Stars
                </app-button>
            </div>
        </div>
    </div>
</app-modal>