<div class="shop-page">
    <div class="shop-page__header page-header">
        <img src="assets/images/bot_tasks.png" alt="Tasks" class="shop-page__header-img">
        <p class="page-subtitle">{{'SHOP.SUBTITLE' | translate}}</p>
    </div>
    <div class="shop-page__container">
        <div class="shop-page__list" *ngIf="shopItems">
            <p class="shop-page__list-name">{{'SHOP.SHOP' | translate}}</p>
            <div class="shop-page__item">
                <app-product-block iconName="icon_token" [width]="50" [height]="50"
                    [buttonName]="'SHOP.SELECT' | translate" (clickButton)="changeViewTokenModal()">
                    <p body>Divinations token</p>
                </app-product-block>
            </div>
            <div class="shop-page__item" *ngFor="let shopItem of shopItems">
                <app-product-block [width]="50" [height]="50" [buttonName]="itsMax(shopItem) ? null  : 'SHOP.UPGRADE' | translate  " [iconName]="'icon_' + shopItem._id" (clickButton)="changeViewUpgeadeModal(shopItem)">
                    <div class="shop-page__item-body">
                        <p class="shop-page__item-title">{{'SHOP.' + shopItem.title | translate}}</p>
                        <div class="shop-page__item-level" [innerHTML]="getLevelInfo(shopItem)"></div>
                        <div class="shop-page__item-income">
                            <app-balance [width]="16" [height]="16">
                                <p balance>+{{shopItem.incomePerLevel * (getCurrentLevel(shopItem._id, shopItem.max_level) + (itsMax(shopItem) ? 0 : 1))}} / {{"SHOP.HOUR" | translate}}</p>
                            </app-balance>
                        </div>
                    </div>
                </app-product-block>
            </div>
        </div>
    </div>
</div>

<app-modal [viewModal]="viewTokenModal" (closeModalEmit)="changeViewTokenModal()">
    <div class="token-modal">
        <div class="token-modal__header">
            <div class="modal-title">
                Divinations token
            </div>
            <div class="modal-subtitle">
                {{'SHOP.MODAL.INFO' | translate}} <router-link routerLink="/friends"
                    class="router-link">{{'SHOP.MODAL.INVITING' | translate}}</router-link> {{'SHOP.MODAL.AND_FOR' |
                translate}} <router-link routerLink="/tasks" class="router-link"> {{'SHOP.MODAL.TASKS' |
                    translate}}</router-link>
            </div>
        </div>
        <div class="token-modal__body">
            <div class="token-modal__price-list">
                <div class="token-modal__price-item" *ngFor="let item of prices"
                    [class.--current]="item.price === currentPrice.price" (click)="pickPrice(item)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="icon_token"
                        class="token-modal__price-item__img"></mat-icon>
                    <p class="token-modal__price-title">{{item.count}} DIV Token</p>
                </div>
                <app-button [paddingX]="15" [paddingY]="15"
                    (click)="handlePaymentRequest(currentPrice.price, currentPrice.count)">
                    {{'SHOP.MODAL.CONFRIM' | translate}} {{currentPrice.price}} Stars
                </app-button>
            </div>
        </div>
    </div>
</app-modal>

<app-modal [viewModal]="viewUpgradeModal" (closeModalEmit)="changeViewUpgeadeModal()" *ngIf="selectItem">
    <div class="upgrade-modal">
        <div class="upgrade-modal__header">
            <app-icon-block class="upgrade-modal__header-icon" [iconName]="'icon_' + selectItem._id" [width]="100" [height]="100" [big]="true"></app-icon-block>
            <p class="upgrade-modal__header-title">{{'SHOP.' + selectItem.title | translate}}</p>
            <p class="upgrade-modal__header-subtitle">
                Приобретая вы получаете ...
            </p>
        </div>
        <div class="upgrade-modal__body">
            <div class="upgrade-modal__body-level" [innerHTML]="getLevelInfo(selectItem)"></div>
            <div class="upgrade-modal__body-income">
                <div class="upgrade-modal__body-income-info">
                    <app-balance [width]="24" [height]="24">
                        <p balance>+{{selectItem.incomePerLevel * (getCurrentLevel(selectItem._id, selectItem.max_level))}} / {{"SHOP.HOUR" | translate}}</p>
                    </app-balance>
                </div>
                <div class="upgrade-modal__body-income-to">-></div>
                <div class="upgrade-modal__body-income-info">
                    <app-balance [width]="24" [height]="24">
                        <p balance>+{{selectItem.incomePerLevel * (getCurrentLevel(selectItem._id, selectItem.max_level) + (itsMax(selectItem) ? 0 : 1))}} / {{"SHOP.HOUR" | translate}}</p>
                    </app-balance>
                </div>
            </div>
            <app-button class="upgrade-modal__body-price" (click)="upgradeItem(selectItem)">
                <app-balance>
                    <p>{{selectItem.price}} DIV</p>
                </app-balance>
            </app-button>
        </div>
    </div>
</app-modal>



  