<div class="avatar"
[style.fontSize.px]="width / 2 - 0.8">
    <ng-container *ngIf="photoURL; else initialIcon">
        <img [class]="'avatar__image'" 
        [src]="photoURL" alt="" 
        [style.width.px]="width"
        [style.height.px]="height">
    </ng-container>
    <ng-template #initialIcon>
        <div [class]="'avatar__image avatar__image_icon'"
        [style.width.px]="width "
        [style.height.px]="height">
            <p class="avatar__title">{{ getUserInitials(displayName) }}</p>
        </div>
    </ng-template>
    <ng-content id="place"></ng-content>
    
</div>