.product-block {
    &__body {
        padding: 12px;
        display: flex;
        align-items: center;
        &-icon {
            margin-right: 10px;
        }
        &-content {
            flex: 1;
            padding-right: 15px;
        }
    }
    &__button {
        font-weight: 600;
    }
}