<div class="ranking-profile">
    <div class="ranking-profile__header">
        <div class="ranking-profile__header-avatar">
            <app-avatar [displayName]="user.user_name" [photoURL]="user.avatar_url" [height]="8" [width]="8"
                class="ranking-item__avatar"></app-avatar>
        </div>
        <div class="ranking-profile__header-username">
            {{user.user_name}}
        </div>
    </div>
    <div class="ranking-profile__body">
        <app-sector class="ranking-profile__body-sector">
            <div class="ranking-top__stat-header" header>
                <div class="div">{{user.stars}} Stars</div>
            </div>
            <div class="ranking-top__stat-body" body>
                Inforamtion
                <div class="div">#{{user.rank}}</div>
            </div>
        </app-sector>
    </div>
</div>