.ranking-profile {
    &__header {
        &-avatar {
            margin-bottom: 10px;
        }
        &-username {
            text-align: center;
            font-size: 24px;
        }
    }
    &__body {
        display: flex;
        justify-content: center;
        &-sector {
            display: block;
            width: 90%;
            height: 100%;
        }
    }
}