<div class="footer">
  <div class="footer__container">
    <router-link routerLink="/ranking" routerLinkActive="footer__button--active" class="footer__button">
      <fa-icon [icon]="['fas', 'star']"></fa-icon>
      <div class="footer__label">Stars</div>
    </router-link>
    <router-link routerLink="/refs" routerLinkActive="footer__button--active" class="footer__button">
      <fa-icon [icon]="['fas', 'user-group']"></fa-icon>
      <div class="footer__label">Friends</div>
    </router-link>
    <router-link routerLink="/earn" routerLinkActive="footer__button--active" class="footer__button">
      <fa-icon [icon]="['fas', 'bolt-lightning']"></fa-icon>
      <div class="footer__label">Earn</div>
    </router-link>
    <router-link routerLink="/history" routerLinkActive="footer__button--active" class="footer__button">
      <fa-icon [icon]="['fas', 'clock']"></fa-icon>
      <div class="footer__label">History</div>
    </router-link>
  </div>
</div>
