<div class="footer">
  <div class="footer__container">
    <router-link routerLink="/shop" class="footer__link">
      <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="icon_shop" class="footer__link-icon"></mat-icon>
      <div class="footer__link-label">
        Shop
      </div>
    </router-link>
    <router-link routerLink="/tasks" class="footer__link">
      <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="icon_tasks" class="footer__link-icon"></mat-icon>
      <div class="footer__link-label">
        Tasks
      </div>
    </router-link>
    <router-link routerLink="/tarot" class="footer__link --active">
      <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="icon_cards" class="footer__link-icon"></mat-icon>
      <div class="footer__link-label">
        Tarot
      </div>
    </router-link>
    <router-link routerLink="/friends" class="footer__link">
      <mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="icon_friends" class="footer__link-icon"></mat-icon>
      <div class="footer__link-label">
        Friends
      </div>
    </router-link>
    <router-link routerLink="/profile" class="footer__link">
      <app-avatar class="footer__link-avatar" [width]="24" [height]="24" [photoURL]="" [displayName]="'yLuTo4KA'"></app-avatar>
      <div class="footer__link-label">
        Profile
      </div>
    </router-link>
  </div>
</div>
